h2 {
  margin-bottom: 5px;
}


.property_name {
  width: 70px;
}

.rent {
  width: 60px;
}

.address {
  width: 120px;
}

.age {
  width: 35px;
}

.remarks {
  width: 900px;
}

.show_link {
  width: 20px;
}

.edit_link {
  width: 20px;
}

.delete_link {
  width: 20px;
}
