h2 {
  margin-bottom: 5px;
}

table {
  padding-bottom: 40px;
}

p {
  margin: 0;
}


.th_property_name {
  width: 70px;
}

.th_rent {
  width: 60px;
}

.th_address {
  width: 120px;
}

.th_age {
  width: 35px;
}

.th_remarks {
  width: 900px;
}

.th_show_link {
  width: 20px;
}

.th_edit_link {
  width: 20px;
}

.th_delete_link {
  width: 20px;
}
